:root{
    --link-color : #0095f6;
    --background-base : rgb(243, 243, 243);
    --detached-background: #ffffff;
    --text-color: rgb(160, 160, 160);
    --group-border: lightgray;
    --download-text: #000;
}

.dark-mode{
    --background-base : #121212;
    --detached-background: #272727;  
    --link-color: #BB86FC;
    --text-color: #C2C2C2;
    --download-text: #C2C2C2;
    --group-border: #454545;    
}

.dark-mode .instagram-phone img {
    filter: brightness(.8) contrast(1.2);
}

.dark-mode .profile-photo img {
    filter: brightness(.8) contrast(1.2);
}

.dark-mode .app-download {
    filter: brightness(.8) contrast(1.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}



body {
    width: 100%;
    min-width: 100vh;
    background-color: var(--background-base);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 34rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem;
}

.group { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--detached-background);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid var(--group-border);
}

.group a {
    color: var(--detached-background);
}

.group:nth-child(1) {
    min-width: 19rem;
    flex-direction: column;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    padding: 0.5rem;
}

.profile-photo img {
    width: 6rem;
}

.instagram-login {
    background-color: var(--link-color);
    color: var(--detached-background);
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: var(--link-color);
    margin-top: 1rem;
}

.not-account {
    color: var(--text-color);
}

.link-blue {
    color: var(--link-color);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-the-app p {
    color: var(--download-text);
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height:3rem ;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/download_ios.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/download_android.png');
}

.dark-mode-button{
    height: 1.5rem;
    width: 6rem;
    font-size: 10px;
}

@media (max-width: 1024px) {
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}

